{% extends "base.html" %}

{% block title %}{{ NEST_INDEX_HEAD_TITLE }} | {{ super() }}{% endblock title %}
{% block description %}{{ INDEX_DESCRIPTION }}{% endblock description %}
{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}
{% block keywords %}{{ INDEX_KEYWORDS }}{% endblock keywords %}
{% block head %}{{ super() }}<meta name="robots" content="index">{% endblock head %}


{% block content %}
<div class="home-bio">
  <div class="container">
    <div class="row home-articles-title">
      <h1>About Me</h1>
      </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img alt="profile" class="img-responsive home-profile" src="{{ SITEURL }}/images/poppe.jpg">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <p>I am Stevie Poppe (スティーヴィー・ポッペ), a doctoral researcher passionate about studying the interplay between technology, media, and society.</p>

        <p>
        Growing up in the digital age, online communication and digital media have always been integral to my life. This sparked my initial fascination with the technical aspects of the internet and computing, leading me to pursue an undergraduate program in Computer Science, which I completed in 2014. Having reached the end of those studies, however, my interests shifted towards matters of politics and society, and I felt a urge to broaden my horizons beyond those technical skills. Admittedly under the internet-facilitated influence of Japanese popular culture, I chose to enroll in the Japanese Studies program at the Catholic University of Leuven (KU Leuven), completing my graduate studies in 2019.
        </p>

        <p>
        During my studies, I had the incredible opportunity to spend three academic semesters in Japan as a MEXT-funded research student at Chuo University (2017 - 2019, department of Socio-Informatics), which allowed me to synthesize my technical background with my academic interests in media history, politics, and cultural sociology. Entering 2020, I began my PhD studies at KU Leuven, working on the topic of grassroots civic movements and strategic online disinformation, funded through a PhD Fellowship of the Research Foundation - Flanders (FWO). During this time, I had a half-year research stay in Germany (Nuremberg and Berlin), as well as an upcoming half-year research stay in Tokyo, Japan (2023 - 2024).
        </p>

        <p>
        Outside of academia, my main interests lie in music and film. I spent the better part of my early life practicing piano and playing keyboard in bands, and although I have less time to devote on this now, I still enjoy spending free time on composing pieces I will probably never finish. I also continue to do a bit of web development once in a while (this blog actually started of as a creative outlet aimed to provide some assistance on the technical aspects of studying Japanese). Finally, My favorite directors are Juzo Itami, Takeshi Kitano, Hirokazu Koreeda, Bi Gan, Yi-Mou Zhang, Wong kar-wai, Stanley Kubrick, Martin Scorsese, Ingmar Bergman, ... 🙃
       </p>
       <br>
      </div>
    </div>
  </div>
</div>
<div class="home-articles">
<div class="archive-container container">
  <div class="row home-articles-title">
  <h1>Recent Posts</h1>
</div>
  <div class="row">
  {% for article in articles_page.object_list if article.category != 'Publication' %}
  {% if loop.index > HOME_MAX_ARTICLES  %} {% else %}
  <div class="col-xs-12 col-lg-6">
  <div class="container content padding-40 index-content-container home-article-container">
    {% if article.image %}
    <div class="container header-wrapper banner" style="background: linear-gradient(rgba(6, 6, 6, 0.70), rgba(0, 0, 0, 0.70)), url('{{ SITEURL }}/images/{{ article.image }}'); background-position: center;">
    {% else %}
    <div class="container header-wrapper nobanner">
    {% endif %}
            <div class="header-content center">

    {% if article.image %}
    <h1 class="post-title">
    {% else %}
    <h1 class="post-title" style="color: #124877 !important; ">
    {% endif %}
              {% if article.pin %}<i class="icon-pushpin"></i> <a href="/{{ article.url }}" title="{{ article.title|striptags }}">[Featured] - {{ article.title }}</a>{% else %}<a href="/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a>{% endif %}</h1>
              <div class="banner-index-content"><span class="datetitle">{{article.locale_date|title}}</span>

                {% if not article.image %}
                <hr>
                {% endif %}
              </div>
        </div>
      </div>

      <div class="post-content">
        <p style="display: table;">
          {% if article.has_summary %} 
          {{ article.summary|striptags|truncate(SUMMARY_MAX_LENGTH_HOME) }} 
          {% else %} 
          {{ article.content|striptags|truncate(SUMMARY_MAX_LENGTH_HOME) }}
          {% endif %}
          <a href="{{ SITEURL }}/{{ article.url }}" style="float: right;"> Continue →</a>
        </p>
      </div>

    </div>
  </div>
     {% endif %}
    {% endfor %}
    <div class="home-articles-title"><h3><a href="{{ SITEURL }}/blog/">>> See all posts</a></h3></div>
  </div>
</div>
</div>
<div class="home-publications">
  <div class="container">
    <div class="row home-articles-title">
      <h1>Recent Publications & Activities (Selected)</h1>
    </div>
    {% for article in articles_page.object_list if article.category == 'Publication' %}
    {% if loop.index > HOME_MAX_PUBLICATIONS  %} {% else %}
    <div class="row">
      <div class="col-xs-1">
        <h4>{{ article.date.strftime('%b %Y') }}</h4>
      </div>
      <div class="col-xs-11">
        <h4><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        <i><p><small>{{ article.author }}</small></p></i></h4>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock content %}
